* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e7e6e6;
    color: rgb(18, 100, 18);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeIn; 
    animation-duration: 2.5s; 
}

h1{
    color:#22465c;
}



.menubttn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

button {
    background-color:#3D6E71;
    color: #fff;
    font-size: 16px;
    padding: 5px;
}

button:hover {
    animation: pulse; 
    animation-duration: 800ms; 
}
